<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xtec.locki">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_monkey_king"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_monkey_king"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.LockService"
            android:exported="false"
            android:label="LockService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":LockService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>

        <activity android:name=".activity.LockActivity"/>
        <activity android:name=".activity.CreateGestureActivity"/>
        <activity android:name=".activity.CreateGestureActivityNew"/>
        <activity
            android:name=".activity.UnlockByFingerprintActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name=".activity.UnlockByGestureActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name=".activity.UnlockByNumberActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/FullScreenTheme"/>

    </application>

</manifest>